<div class="hero-unit">
<h1>Welcome to the Big Nothing</h1>
<p>You've found the page with nothing but a link to my stupid <a href="http://www.omarlee.com">site</a>
</p>
<p>
<%= link_to "Do something!","#", class: "btn btn-primary btn large" %>
</p>
</div>
