<% if user_signed_in? %>
<h1>Logged-in View</h1>
<p>Nothing to see, please move on. Or log out. Whatever.</a>
</p>

<%else%>
<div class="hero-unit">
<h1>Guest Home Page View</h1>
<p>This page displays when you've logged in. Surprise!</p>
<p>
<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn large" %>
</p>
</div>
<% end %>