/* font options */
/*$baseFontFamily: Oxygen; */
/*@import url(http://fonts.googleapis.com/css?family=Oxygen); */

$btnPrimaryBackground: green;
$navbarBackgroundHighLight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
	background-color:#f5f5f5;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 1px solid #ddd;
}

.footer {
	margin-top:50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* masonry */
.box {
	margin:10px;
	padding: 10px;
	font-size: 11px;
	line-height: 1.4em;
	float:left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #777;
	width: 214px;
	background-color:#fff;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}